<div class="example-container">

    <app-header (openModule)="openApp($event)" (searchPerson)="searchPerson($event)"></app-header>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav-content>
            <div class="container-cockpit" #containerArea>
                <ng-template #container></ng-template>
            </div>
            <app-footer (remove)="removeComponent($event)" (show)="showComponent($event)"></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>